# Since Ansible 2.12 (core):
# To generate an example config file (a "disabled" one with all default settings, commented out):
#               $ ansible-config init --disabled > ansible.cfg
#
# Also you can now have a more complete file by including existing plugins:
# ansible-config init --disabled -t all > ansible.cfg

# For previous versions of Ansible you can check for examples in the 'stable' branches of each version
# Note that this file was always incomplete  and lagging changes to configuration settings

# for example, for 2.9: https://github.com/ansible/ansible/blob/stable-2.9/examples/ansible.cfg
#
[defaults]
deprecation_warnings = False
#private_key_file =/home/mawr/.ssh/id_rsa
remote_tmp = /tmp/ansible-
inventory = /etc/ansible/hosts
log_path = /tmp/.ansible.log
forks = 50
ask_pass = False
sudo_flags = -H -S
remote_port = 22
gathering = implicit
gather_timeout = 20
command_warnings = False
roles_path = ~/.ansible/roles:/usr/share/ansible/roles:/etc/ansible/roles
host_key_checking = False
remote_user = mawr

#[inventory]
#enable_plugins = host_list, script, yaml

[ssh_connection]
retries=3
pipelining=True
ssh_args = -C -o ControlMaster=auto -o ControlPersist=60s


#[targets]

#localhost              ansible_connection=local
#10.48.0.244     ansible_connection=ssh        ansible_user=mentor
#10.48.0.245     ansible_connection=ssh        ansible_user=mentor


